@use "global" as *;

.section-bg-title {
    font-size:  rem(40);
    font-weight: $bold;
    text-transform: capitalize;
    line-height: 1;
    letter-spacing:  0.05em;
    color: rgba(23, 23, 23, .05);
    @include mq("md") {
        font-size: rem(90);
    }
}

.section-bg-title.section-bg-title--white {
    color: rgba(255, 255, 255, 0.1);
}
