@use "global" as *;

.top-works-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(30);
    max-width: rem(625);
    width: 100%;
    padding: 0 rem(12.5);
    @include mq("md") {
        grid-template-columns: repeat(3, 1fr);
        gap: rem(20);
        max-width: rem(1000);
        padding: initial;
    }
}

.top-works__items {
    margin-inline: auto;
}

.top-works__items:first-of-type {
    margin-top: rem(50);
    @include mq("md") {
        margin-top: rem(95);
    }
}

.top-works__items + .top-works__items {
    margin-top: rem(20);
}
