@use "global" as *;

.top-works-card {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 1);
}

.top-works-card a {
    display: block;
    height: 100%;
    background-color: $white;
}

.top-works-card__img img {
    aspect-ratio: 320/200;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.top-works-card__text {
    background-color: $white;
    padding: rem(23) rem(20);
    line-height: calc(30 / 16);
    letter-spacing: 0.05em;
    font-weight: $regular;
    @include mq("md") {
        padding: rem(21) rem(20);
    }
}
