@use "global" as *;

.top-service {
    overflow-x: hidden;//margin: 0 calc(50% - 50vw);とセットで
}

.top-service__title {
    @include mq("md") {
        margin-left: rem(100);
    }
}

.top-service__bg-title {
    margin-top: rem(45);
    text-align: right;
    @include mq("md") {
        margin-top: rem(85);
    }
}
