@use "global" as *;

.top-service {
}

.top-service__title {
    margin-top: rem(106);
    @include mq("md") {
        margin-top: rem(113);
        margin-left: rem(100);
    }
}

.top-service__bg-title {
    margin-top: rem(45);
    text-align: right;
    @include mq("md") {
        margin-top: rem(85);
    }
}
